<div>
    <h2 class="text-center title my-4">Incident Edit Form</h2>

    <div class="container vh-100 p-4">
        <form class="form shadow p-4 rounded" [formGroup]="editform" (ngSubmit)="onSubmit()">
            <button class="editbutton" (click)="redirectToView()">View</button>
            <div class="row mb-4">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100 custom-border">
                        <mat-label>Incident No</mat-label>
                        <input matInput [value]="data.incidentNo">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Reported By and Role</mat-label>
                        <input matInput [value]="data.reportedBy + ', ' + data.roleOfReporter">
                    </mat-form-field>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Incident Title</mat-label>
                        <input matInput [value]="data.incidentTitle">
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Incident Occurred Date</mat-label>
                        <input matInput [value]="extractDateTime().date">
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Incident Occurred Time</mat-label>
                        <input matInput [value]="extractDateTime().time">
                    </mat-form-field>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Incident Description</mat-label>
                        <textarea matInput rows="4" [value]="data.incidentDescription"></textarea>
                    </mat-form-field>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Incident Type</mat-label>
                        <mat-select formControlName="incidentType">
                            <mat-option *ngFor="let type of incidentTypes"
                                [value]="type.value">{{type.label}}</mat-option>
                        </mat-select>
                        <input matInput [value]="data.incidentType">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Category</mat-label>
                        <input matInput [value]="data.category">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Incident Priority</mat-label>
                        <input matInput [value]="data.priority">
                    </mat-form-field>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Correction Completion Date</mat-label>
                        <input matInput [value]="data.correctionCompletionDate">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Correction Actual Completion Date</mat-label>
                        <input matInput [value]="data.correctionActualCompletionDate">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Corrective Actual Completion Date</mat-label>
                        <input matInput [value]="data.correctiveActualCompletionDate">
                    </mat-form-field>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Correction Details Time Taken to Close the Incident</mat-label>
                        <input matInput [value]="data.correctionDetailsTimeTakenToCloseIncident">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Corrective Details Time Taken to Close the Incident</mat-label>
                        <input matInput [value]="data.correctiveDetailsTimeTakenToCloseIncident">
                    </mat-form-field>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Remarks</mat-label>
                        <textarea matInput rows="4" [value]="data.remarks"></textarea>
                    </mat-form-field>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Status</mat-label>
                        <input matInput [value]="data.status">
                    </mat-form-field>
                </div>
            </div>
            <button class="editbutton">Submit</button>
        </form>
    </div>
</div>
