<app-side-bar class="side-bar"></app-side-bar>
<div class="main-content">
  <div class="top-section">
    <div class="card-container">
      <div *ngFor="let item of incidentData; let i = index" [ngClass]="cardClass[i]">
        <app-card [title]="item.title" [totalCount]="item.total_incidents" [pendingCount]="item.pending_incidents"
          [closedCount]="item.closed_incidents" [iconSvg]="svg[i]" [cardClass]="item.class" (click)="getCategory(item.title)">
        </app-card>
      </div>

    </div>
    <div class="chart-container">
      <app-bar-chart></app-bar-chart>
    </div>
  </div>

  <div id="tableRef" class="card">
  <app-table  [isadmin]="true" [filterCategory]="selectedCategory"></app-table>
</div>
</div>
